
<div class="jumbotron  p-md-5" style="overflow: hidden;">
  <img class="img-fluid w-100 d-none d-md-block" src="./images/paisaje.png"  style="position: sticky;max-width: 300px;float:right;" alt="">
  
    <blockquote class="blockquote p-md-5">

      <h1 class="display-5 display-md-2">Bienvenido</h1>


      
      <p class="blockquote-footer ">En esta pagina podas comprar tus imagenes preferidas</p>
      
    </blockquote>

</div>


  <% flash.get('mensaje').forEach(function(mensaje){ %>
    <div class="col-10 col-sm-8 col-md-4  m-auto alert alert-warning text-center" role="alert">
      <%=mensaje%>
    </div>
  <% }) %>

<div class="container-fluid text-center my-5">
  <h2>Nuestras imagenes mas recientes</h2>
</div>  

<div class="container-fluid  ">

    <div class="row  ">

      <%for(var sec= 0; fotos.length > sec  ;sec ++){ %>

        <div class="col-11 col-sm-4 col-md-3  mx-auto my-3">
          <div class=" card  p-0 border-top-0" >
              <div class="card-header p-0">
                <img class="img-fluid w-100" style="max-height: 300px ;" src="./images/<%= fotos[sec].url%>" alt="">
              </div>
              <div class="card-body">
                <h4 class="card-title text-center"><%= fotos[sec].titulo%></h4>

              </div>

                <div class="card-footer text-center">
                  <a class="btn btn-light btn-sm m-auto" href="/agregar_carrito?foto=<%=fotos[sec].id%>"><img src="./svg/Carrito.svg" style="width: 20px;height: 20px;" alt=""> +</a>
                  <a class="btn btn-light btn-sm m-auto" href="/agregar_deseos?foto=<%=fotos[sec].id%>"><img src="./svg/deseos.png" style="width: 20px;height: 20px;" alt=""> +</a>
                </div>




            </div>
        </div>

      <%}%>
  
    </div>

</div>