<div class="row">
    <div class="col-md-12">

        <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-success" role="alert">
            <%=msg%>
        </div>
        <% }) %>

        <h2>Admin - Listado de Administradores</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% administradores.forEach(administrador => {%>
                <tr>
                    <td><%=administrador.id%></td>
                    <td><%=administrador.nombre%></td>
                    <td><%=administrador.email%></td>
                    <td>
                        <% if (administrador.activo) {%>
                        <a href="/admin/desactivar-administrador/<%=administrador.id%>" class="btn btn-info btn-sm">Desactivar</a>
                        <% } else { %>
                        <a href="/admin/activar-administrador/<%=administrador.id%>" class="btn btn-warning btn-sm">Activar</a>
                        <% } %>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>