<div class="row">
    <div class="col-md-12">

        <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-success" role="alert">
            <%=msg%>
        </div>
        <% }) %>

        <h2>Admin - Listado de Clientes</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% clientes.forEach(cliente => {%>
                <tr>
                    <td><%=cliente.id%></td>
                    <td><%=cliente.nombre%></td>
                    <td><%=cliente.email%></td>
                    <td><a href="/mis-ordenes?cliente=<%=cliente.id%>" class="btn btn-info btn-sm">Ver Ordenes</a>
                        <% if (cliente.activo) {%>
                        <a href="/admin/desactivar-cliente/<%=cliente.id%>" class="btn btn-info btn-sm">Desactivar</a>
                        <% } else { %>
                        <a href="/admin/activar-cliente/<%=cliente.id%>" class="btn btn-warning btn-sm">Activar</a>
                        <% } %>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>